@font-face {
    font-family: NotoSerif;
    src: url('../../assets/Fonts/NotoSerif.ttf') format('truetype');
    ;
}
.home,
.home * {
  box-sizing: border-box;
}
.home {
  padding: 120px 2em 48px 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50rem;
  position: relative;
  overflow: hidden;
  background: url(../../assets/Images/bg.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}
.welcome {
  background: rgba(12, 229, 232, 0.55);
  border-radius: 23px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.welcomenote {
  color: #000000;
  text-align: center;
  font-family: "NotoSerif", sans-serif;  
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.note {
  background: rgba(0, 0, 0, 0.59);
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-shrink: 0;
  position: relative;
}
.note-content {
  color: #ff9100;
  text-align: center;
  font-family: "KohSantepheap-Bold", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
