.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #333333;
  padding: 51px 2em 51px 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5vw;
  position: relative;
  overflow: hidden;
}
.contact2 {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSerif-Bold", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.note {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSerif-Bold", sans-serif;
  font-size: 1.4375rem;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.email {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSerif-Bold", sans-serif;
  font-size: 23px;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phone {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSerif-Bold", sans-serif;
  font-size: 23px;
  font-weight: 700;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.address {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSerif-Bold", sans-serif;
  font-size: 23px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thankyou {
  color: #ffffff;
  text-align: center;
  font-family: "NotoSerif-Bold", sans-serif;
  font-size: 30px;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pic {
  flex-shrink: 0;
  width: 174px;
  height: 174px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}

@media screen and (max-width: 768px) {
  .contact {
    padding: 20px 1em;
    gap: 5rem;
  }
  .contact2 {
    font-size: 2rem;
  }
  .note {
    font-size: 1.25rem;
  }
  .email,
  .phone,
  .address {
    font-size: 1.5rem;
  }
  .thankyou {
    font-size: 2rem;
  } 
  
}